= simple_form_for(@message, path: messages_path, method: :post) do |f|
  = f.error_notification

  .form-inputs
    = f.input :'recipients', as: :hidden
    = f.input :subject
    = f.input :body, as: :text

  .form-actions
    = f.button :submit, id: 'send-message-btn'
