= simple_form_for(@profile) do |f|
  = f.error_notification

  .form-inputs
    = f.input :given_name, label: t('profiles.given_name')
    = f.input :surname, label: t('profiles.surname')
    = f.input :about_me, label: t('profiles.about_me')

  .form-actions
    = f.button :submit, id: 'create-profile-btn'
