= simple_form_for(@profile) do |f|
  = f.error_notification

  .form-inputs
    = f.input :given_name
    = f.input :surname
    = f.input :about_me
    = f.input :accepted_currencies, collection: acceptable_currencies, as: :check_boxes

  .form-actions
    = f.button :submit
