%h1= t('profiles.index_header')

%table
  %thead
    %tr
      %th= t('profiles.given_name')
      %th= t('profiles.surname')
      %th= t('profiles.about_me')
      %th
      %th
      %th
      
  %tbody
    - @profiles.each do |profile|
      %tr
        %td= profile.given_name
        %td= profile.surname
        %td= profile.about_me
        %td= link_to t('show'), profile
        %td= link_to t('edit'), edit_profile_path(profile) if Pundit.policy(current_user, profile).edit?
        %td= link_to t('profiles.destroy'), profile, :method => :delete, :data => { :confirm => t('profiles.destroy_confirm') } if Pundit.policy(current_user, profile).destroy?
