%p#notice= notice

%p
  %b= "#{t('profiles.given_name')}:"
  = @profile.given_name
%p
  %b= "#{t('profiles.surname')}:"
  = @profile.surname
%p
  %b= "#{t('profiles.about_me')}:"
  = @profile.about_me

= link_to t('profiles.send_message'), new_message_path(receiver: @profile.user.id)
\|
- if Pundit.policy(current_user, @profile).edit?
  = link_to t('edit'), edit_profile_path(@profile) 
  \|
= link_to t('back'), profiles_path
