%p#notice= notice

%h1= "#{@profile.given_name} #{@profile.surname}".strip
.row
  .col-sm-8
    %p
      %h3= "#{t('profiles.about_me')}:"
      %br/
      = @profile.about_me
      - if @profile.accepted_currencies.present?
        %h3= t('profiles.accepted_currencies_header')
        %ul
        - @profile.accepted_currencies.each do |currency_key|
          %li= acceptable_currency_translated(currency_key)

  .col-sm-4
    = link_to new_message_path(receiver: @profile.user.id), class: 'btn btn-primary' do
      %span.glyphicon.glyphicon-envelope
      = t('profiles.send_message')
    - if Pundit.policy(current_user, @profile).edit?
      = link_to edit_profile_path(@profile), class: 'btn btn-default' do
        %span.glyphicon.glyphicon-pencil
        = t('edit') 


%h3= t('offers.index_header')
.row.offers-list
  - if @offers.empty?
    .col-sm-12
      = t('offers.empty')
  - else
    - @offers.each do |offer|
      .col-sm-4
        = render offer
= paginate @offers
