%footer.inverse
  .row
    .col-sm-4
      %h5= t('footer.join_us.header')
      %p
        = t('footer.join_us.content_html')
        = mail_to('jobs@joatu.com')
    .col-sm-4
      %h5= t('footer.mail_us.header')
      %p
        = t('footer.mail_us.content_html')
        = mail_to('info@joatu.com')
    .col-sm-4
      %h5= t('footer.follow_us.header')
      %ul
        %li
          = link_to "https://www.facebook.com/joatunit" do
            = fa_icon "facebook-square 2x"
        %li
          = link_to "https://twitter.com/Joatunit" do
            = fa_icon "twitter-square 2x"
        %li
          = link_to "http://instagram.com/joatu_" do
            = fa_icon "instagram 2x"
        %li
          = link_to "http://joatu.tumblr.com/" do
            = fa_icon "tumblr-square 2x"
        %li
          = link_to "https://plus.google.com/+Joatuniverse/posts" do
            = fa_icon "google-plus-square 2x"
        %li
          = link_to "https://www.linkedin.com/company/joatu" do
            = fa_icon "linkedin-square 2x"

  .row
    .col-sm-12
      %p.copyright &copy; JoatU 2014
