%section#toolbar.toolbar-conversations
  %nav.toolbar_menu
    %ul.nav.nav-pills
      %li{role: "presentation", class: "#{'active' if params[:box] == 'inbox'}"}
        = link_to conversations_path(box: :inbox) do
          %i.glyphicon.glyphicon-inbox
      %li{role: "presentation", class: "#{'active' if params[:box] == 'sentbox'}"}
        = link_to conversations_path(box: :sentbox) do
          %i.glyphicon.glyphicon-envelope
      %li{role: "presentation", class: "#{'active' if params[:box] == 'trash'}"}
        = link_to conversations_path(box: :trash) do
          %i.glyphicon.glyphicon-trash
