%nav#main-nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse(role="navigation")
  .container
    .navbar-header
      %button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand(href=root_path)
        = image_tag('logo_white.png')
        .mini-logo= t('alpha')
    .navbar-collapse.collapse.navbar-responsive-collapse
      %ul.nav.navbar-nav
        %li= link_to t('nav.benefits'), "#benefits"
        %li= link_to t('nav.features'), "#features"
        %li= link_to t('nav.how_it_works'), "#how-it-works"
        %li= link_to t('nav.team'), "#"
        %li= link_to t('nav.contact'), "#"
        %li= link_to t('nav.press'), "#"
        %li= link_to t('nav.blog'), "http://www.joatu.com"
      - if user_signed_in?
        = form_tag(destroy_user_session_path, method: :delete, class: "navbar-form navbar-right") do
          %button.btn.btn-default.btn-sm{type: "submit"}= t('devise.form.log_out')
      - else
        - if respond_to? :new_user_registration_path # Only include registration link if user registration is enabled!
          = form_tag(new_user_registration_path, method: :get, class: "navbar-form navbar-right") do
            %button.btn.btn-default.btn-sm{type: "submit"}= t('devise.form.sign_up')
        = form_tag(new_user_session_path, class: "navbar-form navbar-right") do
          .form-group
            %input.form-control.input-sm{name: "user[email]", type: "text", placeholder: t('devise.form.email')}
            %input.form-control.input-sm{name: "user[password]", type: "password", placeholder: t('devise.form.password')}
          %button.btn.btn-default.btn-sm{type: "submit"}= t('devise.form.log_in')
