%nav#main-nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse(role="navigation")
  .container-fluid
    .navbar-header
      %button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand(href=root_path)
        = image_tag('logo_white.png')
        .mini-logo= t('alpha')
    .navbar-collapse.collapse.navbar-responsive-collapse
      %ul.nav.navbar-nav
        %li= link_to t('nav.offers'), offers_path
        %li= link_to t('nav.requests'), requests_path
        / %li= link_to t('nav.new_community_offer'), new_community_offer_path
        %li= link_to t('nav.conversations'), conversations_path
        %li.dropdown
          = link_to edit_user_path(current_user), :class => "dropdown-toggle", 'data-toggle' => 'dropdown', 'role' => 'button' do
            = t('nav.my_account')
            %span.caret
          %ul.dropdown-menu(role="menu")
            - if current_user.profile.id.present?
              %li= link_to t('nav.my_profile'), profile_path(current_user.profile)
              %li= link_to t('nav.edit_my_profile'), edit_profile_path(current_user.profile)
            - else
              %li= link_to t('nav.create_my_profile'), new_profile_path
            %li= link_to t('nav.edit_account'), edit_user_path(current_user)
        - if current_user.is_admin?
          %li.dropdown
            = link_to admin_root_path, id: 'admin-actions', :class => "dropdown-toggle", 'data-toggle' => 'dropdown', 'role' => 'button', "data-no-turbolink" => true do
              = t('nav.admin') 
              %span.caret
            %ul.dropdown-menu(role="menu")
              %li= link_to t('nav.invite'), new_user_invitation_path
              %li= link_to t('nav.generate_caps'), admin_generate_caps_path
              %li= link_to t('nav.admin'), admin_root_path, id: 'manage-joatu', "data-no-turbolink" => true
        %li
          = link_to help_path do
            %span.glyphicon.glyphicon-question-sign 

      = link_to(destroy_user_session_path, method: :delete, id:'log-in-btn', class: "navbar-right btn btn-default btn-sm") do
        = t('auth.form.log_out')
      - if I18n.locale.to_s == "en"
        = link_to(url_for(locale: "fr"), class: "navbar-right btn btn-default btn-sm") do
          = t('language.fr')
      - else
        = link_to(url_for(locale: "en"), class: "navbar-right btn btn-default btn-sm") do
          = t('language.en')
