%nav#main-nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse(role="navigation")
  .container-fluid
    .navbar-header
      %button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand(href=root_path)
        = image_tag('logo_white.png')
        .mini-logo= t('alpha')
    .navbar-collapse.collapse.navbar-responsive-collapse
      %ul.nav.navbar-nav
      - if respond_to? :new_user_registration_path # Only include registration link if user registration is enabled!
        = link_to(new_user_registration_path, class: "navbar-right btn btn-default btn-sm") do
          = t('auth.form.sign_up')
      - if I18n.locale.to_s == "en"
        = link_to(url_for(locale: "fr"), class: "navbar-right btn btn-default btn-sm") do
          = t('language.fr')
      - else
        = link_to(url_for(locale: "en"), class: "navbar-right btn btn-default btn-sm") do
          = t('language.en')
      = form_tag(new_user_session_path, class: "navbar-form navbar-right") do
        .form-group
          %input.form-control.input-sm{name: "user[email]", type: "text", placeholder: t('auth.form.email')}
          %input.form-control.input-sm{name: "user[password]", type: "password", placeholder: t('auth.form.password')}
        %button.btn.btn-default.btn-sm{type: "submit"}= t('auth.form.log_in')
