.col-sm-6.col-sm-offset-3
  %h2= t('auth.sign_up_header')
  = simple_form_for(@form, as: resource_name, url: registration_path(resource_name)) do |f|
    = f.error_notification
    .form-inputs
      = f.input :email, required: true, autofocus: true
      = f.input :password, required: true, hint: (t('auth.password_length_hint', min_length: @minimum_password_length) if @validatable)
      = f.input :password_confirmation, required: true
      = f.input :tou_agreement, as: :boolean, label: t('tou.form.label_html', link: link_to(t('tou.form.link'), tou_path ))
    .form-actions
      = f.button :submit, t('auth.form.sign_up')
  = render "devise/shared/links"
