.row
  .col-sm-3
    = render partial: 'components/messages_toolbar'
  .col-sm-9
    %h3
      - box = @box || 'inbox'
      = @conversations_header || t("conversations.index_header.#{box}")

.row
  .col-sm-3
    .list-group
      - if @conversations.blank?
        .list-group-item= t('conversations.no_conversations')
      - else
        = render partial: "conversations/conversation", collection: @conversations
        = paginate @conversations, param_name: :conversations_page
  .col-sm-9
    .panel.panel-default
      .panel-body
        = yield
