%h3= @conversation.subject
.action
  - unless @box == 'trash'
    = link_to conversation_path(@conversation), location: 'conversation', box: @box, method: :delete do
      %i.glyphicon.glyphicon-trash
%h4= t('conversations.participants')
.participants
  - @conversation.recipients.each do |recp|
    = link_to recp.name, profile_path(recp)
%hr/
.messages
  - @messages.each do |message|
    = render partial: "messages/message", object: message

  - unless @box == 'trash'
    %br/
    = simple_form_for(@reply, url: conversation_path(@conversation), html: {method: :put}) do |f|
      = f.error_notification
      .form-inputs
        = f.input :body
      .form-actions
        = f.button :submit, name: :reply_all
