= div_for(conversation, class: "#{ 'unread' if conversation.is_unread? current_user }") do
  .row
    .col-sm-3
      .avatar

      %header
        %h5
          = "#{t('messages.from')}:"
          = link_to truncate(conversation.last_sender.name, length: 15), profile_path(conversation.last_sender)
        .date
          = t('time.ago', time: time_ago_in_words(conversation.updated_at))
    
    .col-sm-8
      .subject
        = "#{t('messages.subject')}:"
        = link_to(truncate(conversation.subject, length: 55), conversation_path(conversation.id, box: @box, page: params[:page]))

      .briefing
        = raw(strip_tags(conversation.last_message.body))
    - unless @box == 'trash'
      .col-sm-1
        .action
          = link_to(conversation_path(conversation, location: @box, box: @box, page: params[:page]), method: :delete) do
            %i.glyphicon.glyphicon-trash
