= div_for(conversation, class: "#{ 'unread' if conversation.is_unread? current_user }" do
  .content_left
    .avatar

    %header
      %h5
        = link_to truncate_name(conversation.last_sender.name), conversation.last_sender.subject
      .date
        = t('time.ago', time: time_ago_in_words(conversation.updated_at))
  
  .content_right
    .subject
      = link_to(truncate(conversation.subject, length: 55), conversation_path(conversation.id, box: @box, page: params[:page]))

    - unless @box == 'trash'
      .action
        = link_to(image_tag('cancel.png', alt: t('mailboxer.delete'), title: t('mailboxer.delete')),
          conversation_path(conversation, location: @box,
            box: @box,
            page: params[:page],
            confirm: t('mailboxer.delete_confirm', 
              object: conversation.subject),
            method: :delete,
          )
    .briefing
      = raw(truncate(strip_tags(conversation.last_message.body), length: 50))


