%h3= @conversation.subject
%h4= t('conversations.participants')
.participants
  - participants = @conversation.recipients.map do |recp|
    - link_to recp.name, profile_path(recp)
  = raw(participants.join(', '))
%hr/
.messages
  - @messages.each do |message|
    = render partial: "messages/message", object: message
    %hr/

  - unless @box == 'trash'
    %br/
    = simple_form_for(@reply, url: conversation_path(@conversation), html: {method: :put}) do |f|
      = f.error_notification
      .form-inputs
        = f.input :body, label: t('conversations.reply'), as: :text
      .form-actions
        = f.button :submit, t('conversations.send'), name: :reply_all, class: 'pull-right btn btn-primary'
