.col-sm-6.col-sm-offset-3
  %h2= t('auth.resend_unlock_header')
  = simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f|
    = f.error_notification
    = f.full_error :unlock_token
    .form-inputs
      = f.input :email, required: true, autofocus: true
    .form-actions
      = f.button :submit, t('auth.form.resend_unlock')
  = render "devise/shared/links"
