- request_model ||= request_list_item
%a.list-group-item.request-list-group-item{href: request_path(request_model), class: "#{request_model.type_class}"}
  %h4
    = request_model.title
  %div.metadata
    %small= t("offers_and_requests.types.#{request_model.class.name.demodulize.underscore}")
    |
    %small= t('requests.requester_label', requester: request_model.user.name)
    |
    %small= l(request_model.created_at, format: :long)
  %p= truncate(request_model.description, length: 100)
