.row.requests-list
  .col-sm-4
    .panel.panel-info
      .panel-heading
        %h2.text-center
          = t('offers_and_requests.forms.list.labels.search')
      .panel-body
        = render 'shared/offers_and_requests/list_form', search_form: @search_form, search_path: search_requests_path, order_options: @order_options, type_options: @request_type_options

        .clearfix
        %br
        = link_to new_request_path, class: 'btn btn-success pull-right' do
          %i.glyphicon.glyphicon-plus
          = t('requests.new_link') 
  .col-sm-8
    .panel.panel-default
      .panel-heading
        %h1.text-center= t('requests.index_header')
      - if @user_requests.empty?
        .panel-body
          = t('requests.empty')
      .list-group
        = render partial: "requests/request_list_item", collection: @user_requests
        = paginate @user_requests
