%p#notice= notice

%p
  %b= "#{t('requests.title')}:"
  = @user_request.title
%p
  %b= "#{t('requests.description')}:"
  = @user_request.description

- if Pundit.policy(current_user, @user_request).edit?
  = link_to t('edit'), edit_request_path(@user_request) 
  \|
= link_to t('back'), requests_path
