%h1 Listing hubs

%table
  %thead
    %tr
      %th Name
      %th Description
      %th Latlng
      %th
      %th
      %th
      
  %tbody
    - @hubs.each do |hub|
      %tr
        %td= hub.name
        %td= hub.description
        %td= hub.latlng
        %td= link_to 'Show', hub
        %td= link_to 'Edit', edit_hub_path(hub)
        %td= link_to 'Destroy', hub, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Hub', new_hub_path
