.col-sm-6.col-sm-offset-3.panel.panel-default
  .panel-body
    %h2= t "devise.invitations.new.header"
    = simple_form_for resource, :as => resource_name, :url => org_invitation_users_path(params[:organization_id]), :html => {:method => :post} do |f|
      = devise_error_messages!
      - resource.class.invite_key_fields.each do |field|
        = f.input field
      = f.button :submit, t("devise.invitations.new.submit_button")
