%h1
  = "#{t('pods.pod')}: "
  = @pod.name
.row
  .col-sm-8
    - if @display_add_offers_and_requests
      .alert.alert-info.alert-dismissible{role: "alert"}
        %button.close{type: "button", data: {dismiss: 'alert'}}
          %span{'aria-hidden' => true} &times;
        %strong
          = t('pods.few_offers_header')
        = t('pods.few_offers_content_html', offers_link: link_to(t('pods.offers_link_text'), new_offer_path, class: 'alert-link'), requests_link: link_to(t('pods.requests_link_text'), new_request_path, class: 'alert-link'))

    .panel.panel-primary
      .panel-heading
        %h3.panel-title
          = t('pods.about')
      .panel-body
        = @pod.description
    .panel.panel-default
      .panel-heading
        %h3.panel-title
          = t('pods.events')
      .panel-body
        - if @events.any?
          = "#{t('pods.events_intro', pod_name: @pod.name)}:"
        - else
          = t('pods.no_events_message')
      .list-group
        = render partial: "events/event_list_item", collection: @events
      
  .col-sm-4.hub
    .panel.panel-default
      .panel-heading
        %h3.panel-title
          = t('pods.map')
      .panel-body
        .pod-map.embed-responsive.embed-responsive-16by9{"data-map" => true, "data-geojson" => @pod.to_geojson, "data-bounds" => @pod.map_bounds }
          #pod-map.map-container
    - if @hub.present?
      .panel.panel-info
        .panel-heading
          %h3.panel-title
            = "#{t('pods.hub')}: "
            = @hub.name
        .panel-body
          = @hub.description
