%h1
  = "#{t('pods.pod')}: "
  = @pod.name
.row
  .col-sm-8
    %p
      = @pod.description
    .pod-map{"data-map" => true, "data-geojson" => @pod.to_geojson, "data-bounds" => @pod.map_bounds }
      #hub-map.map-container
  .col-sm-4.hub.panel.panel-info
    .panel-heading
      %h3.panel-title
        = "#{t('pods.hub')}: "
        = @pod.hub.name
    .panel-body
      = @pod.hub.description
