%h1
  = "#{t('pods.pod')}: "
  = @pod.name
.row
  .col-sm-8
    - if @pod.description.present?
      .panel.panel-default
        .panel-heading
          %h3.panel-title
            = t('pods.about')
        .panel-body
          = @pod.description
    .panel.panel-default
      .panel-heading
        %h3.panel-title
          = t('pods.events')
      .panel-body
        - if @events.any?
          .row
            = render partial: "events/event", collection: @events, layout: "components/three_column"
        - else
          = t('pods.no_events_message')
      
  .col-sm-4.hub
    .panel.panel-default
      .panel-heading
        %h3.panel-title
          = t('pods.map')
      .panel-body
        .pod-map.embed-responsive.embed-responsive-16by9{"data-map" => true, "data-geojson" => @pod.to_geojson, "data-bounds" => @pod.map_bounds }
          #pod-map.map-container
    - if @hub.present?
      .panel.panel-info
        .panel-heading
          %h3.panel-title
            = "#{t('pods.hub')}: "
            = @hub.name
        .panel-body
          = @hub.description
