= simple_form_for(@offer) do |f|
  = f.error_notification

  .form-inputs
    = f.input :organization_privacy, collection: {"All Organization Members" => :all, "Only The Organization Itself" => :admin_only}, as: :radio_buttons, label: "Offer to:"

    = f.input :detail_type, collection: @offer_types, as: :radio_buttons, label: "#{t('offers.type_label')}:"
    = f.input :title
    = f.input :description, as: :text
    = f.input :visibility, collection: {t('offers.visibility.global') => "public", t('offers.visibility.private') => "private"}, as: :select, label: "#{t('offers.visibility.label')}:"
    .visibility-settings{class: @offer.visibility != 'private' ? 'hidden' : ''}
      = f.label "Make visible to your pod?"
      %br
      = f.collection_check_boxes :visible_to_pods, [@user_pod], :id, Proc.new {|pod| "#{pod.name} (your pod)"}
      %br
      = f.label "Make visible to these organizations:"
      %br
      = f.collection_check_boxes :visible_to_organizations, @user_orgs, :id, :name
  .form-actions
    = f.button :submit, class: 'pull-right btn-primary'
