= div_for offer, class: "panel panel-default" do
  .panel-heading
    %h3.panel-title= offer.title
  .panel-body
    = offer.summary
    .btn-group-sm.pull-right
      - if offer.user.profile.present? && offer.user.profile.id.present?
        = link_to profile_path(id: offer.user.profile.id), class: 'btn btn-primary' do
          %span.glyphicon.glyphicon-user.pull-right
      = link_to new_message_path(receiver: offer.user.id), class: 'btn btn-primary' do
        %span.glyphicon.glyphicon-envelope.pull-right
      = link_to offer, class: 'btn btn-default' do
        %span.glyphicon.glyphicon-arrow-right.pull-right
