.row.offers-list
  .col-sm-4
    .panel.panel-info
      .panel-heading
        %h2.text-center
          = t('offers_and_requests.forms.list.labels.search')
      .panel-body
        = render 'shared/offers_and_requests/list_form', search_form: @search_form, search_path: search_offers_path, order_options: @order_options, type_options: @offer_type_options

        .clearfix
        %br
        = link_to new_offer_path, class: 'btn btn-success pull-right' do
          %i.glyphicon.glyphicon-plus
          = t('offers.new_link') 
  .col-sm-8
    .panel.panel-default
      .panel-heading
        %h1.text-center= t('offers.index_header')
      - if @offers.empty?
        .panel-body
          = t('offers.empty')
      .list-group
        = render partial: "offers/offer_list_item", collection: @offers
        = paginate @offers
