%h1 Listing offers

%table
  %thead
    %tr
      %th Title
      %th Summary
      %th Description
      %th
      %th
      %th
      
  %tbody
    - @offers.each do |offer|
      %tr
        %td= offer.title
        %td= offer.summary
        %td= offer.description
        %td= link_to 'Show', offer
        %td= link_to 'Edit', edit_offer_path(offer)
        %td= link_to 'Destroy', offer, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Offer', new_offer_path
