%p#notice= notice

%p
  %b Title:
  = @offer.title
%p
  %b Summary:
  = @offer.summary
%p
  %b Description:
  = @offer.description

= link_to 'Edit', edit_offer_path(@offer)
\|
= link_to 'Back', offers_path
