%p#notice= notice

%p
  %b= "#{t('offers.title')}:"
  = @offer.title
%p
  %b= "#{t('offers.description')}:"
  = @offer.description

- if Pundit.policy(current_user, @offer).edit?
  = link_to t('edit'), edit_offer_path(@offer) 
  \|
= link_to t('back'), offers_path
- if Pundit.policy(current_user, @offer).destroy?
  \|
  = link_to t('destroy'), offer_path(@offer), method: :delete
