%p= t('devise.email.reset_pw_greeting', email: @resource.email)

%p= t('devise.email.reset_pw_instructions_1')

%p= link_to t('devise.email.reset_pw_link'), edit_password_url(@resource, reset_password_token: @token)

%p= t('devise.email.reset_pw_instructions_2')
%p= t('devise.email.reset_pw_instructions_3')
