%h1= t('communities.index_header')

%table
  %thead
    %tr
      %th= t('communities.name')
      %th
      %th
      %th
      
  %tbody
    - @communities.each do |community|
      %tr
        %td= community.name
        %td= link_to t('show'), community
        %td= link_to t('edit'), edit_community_path(community) if Pundit.policy(current_user, community).edit?
        %td= link_to t('destroy'), community, :method => :delete, :data => { :confirm => t('communities.destroy_confirm') } if Pundit.policy(current_user, community).destroy?

%br

= link_to t('communities.new_link'), new_community_path
