%h1 Listing communities

%table
  %thead
    %tr
      %th Name
      %th
      %th
      %th
      
  %tbody
    - @communities.each do |community|
      %tr
        %td= community.name
        %td= link_to 'Show', community
        %td= link_to 'Edit', edit_community_path(community)
        %td= link_to 'Destroy', community, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Community', new_community_path
