!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    = viewport_meta_tag
    %title= content_for?(:title) ? yield(:title) : "JoatU"
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.js"
    = stylesheet_link_tag "application", :media => "all"
    = favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144'
    = favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114'
    = favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72'
    = favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'
    = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'
    = javascript_include_tag "//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry,drawing"
    = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/js-marker-clusterer/1.0.0/markerclusterer_compiled.js"
    = javascript_include_tag "application"

  %body(data-spy="scroll" data-target="#main-nav" data-offset=50)
    - if content_for? :main_nav
      = yield :main_nav
    - else
      = render "components/header"

    .top-container.container-fluid
      - if content_for? :content
        = yield :content
      - else
        = bootstrap_flash
        = yield
      = modal_dialog id: "joatu_modal",
        header: { show_close: true },
        body: "Loading..."

    .container-fluid.clearfix
      - if content_for? :footer
        = yield :footer
      - else
        = render "components/footer"

    = render "trackers/google_analytics"
